.container,
.section__container{
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;

  @media screen and (min-width: 320px) and (max-width: 480px){
    max-width: 320px;
  }

  @media screen and (min-width: $ui-breakpoint-md) {
    max-width: 748px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    max-width: 1180px;
  }
}


