.header-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: $ui-index-7;
  min-height: 103px;
  background: $ui-nav-background;
  user-select: none;

  @media screen and (min-width: $ui-breakpoint-md) {
    min-height: 118px;

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      background: none;
    }
  }
}

.header-nav {
  min-height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $ui-breakpoint-md) {
    padding: 0;
  }
}

.header-nav__logo-link-img-2 {
  display: none;
}

@media screen and (min-width: $ui-breakpoint-xl-min) {
  .header-nav__logo:hover .header-nav__logo-link-img-2 {
    display: inline-block;
  }
  .header-nav__logo:hover .header-nav__logo-link-img {
    display: none;
  }

  .header-nav__logo:hover {
    .header-nav__logo-link-title {
      color: $ui-main-white;
    }
  }
}

.header-nav__logo-link {
  @include ui-flex(center, center);

  .header-nav__logo-link-title {
    display: none;
    @include font-lato;
    @include size-text(24px, 700, 16px);
    color: $ui-main-purple;
    text-transform: uppercase;

    @media screen and (min-width: $ui-breakpoint-md) {
      display: block;
      padding-left: 17px;
    }
  }
}

.header-nav__group.active__nav-list {
  display: block;
  overflow: hidden;
}

.header-nav__group {
  display: none;
  position: absolute;
  top: 103px;
  right: 15px;
  background: #333333;
  min-width: 289px;
  width: max-content;
  height: 378px;
  z-index: $ui-index-3;

  @media screen and (min-width: $ui-breakpoint-md) {
    display: flex;
    position: static;
    background: none;
    width: 100%;
    max-height: 117px;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      justify-content: flex-end;
      margin-right: 48px;
    }
  }
}

.header-nav__list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  @media screen and (min-width: $ui-breakpoint-md) {
    width: 571px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      align-items: center;
    }
  }
}

.header-nav__list-item {
  padding-bottom: 20px;
  border-bottom: 3px solid #3B3B3B;

  @media screen and (min-width: $ui-breakpoint-md) {
    border-bottom: none;
    padding-bottom: 10px;

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      padding-bottom: 0;
      padding-top: 3px;
    }
  }

  .header-nav__list-item-link {
    @include font-mont;
    @include size-text(26px, 400, 26px);
    color: $ui-main-white;
    position: relative;
    padding-left: 40px;
    transition: .5s;

    @media screen and (min-width: $ui-breakpoint-md) {
      padding-left: 0;
      @include size-text(16px, 700, 18px);
      color: $ui-main-purple;
    }

    &:hover,
    &:focus,
    &:active {
      color: $ui-main-purple;
      transition: 0s;

      @media screen and (min-width: $ui-breakpoint-md) {
        color: $ui-main-white;

        @media screen and (min-width: $ui-breakpoint-xl-min) {
          &:hover {
            transition: .5s;
          }
        }
      }

      &:before {
        display: block;
        position: absolute;
        content: ' ';
        width: 8px;
        height: 53px;
        background-color: $ui-main-purple;
        top: -10px;
        left: 3px;

        @media screen and (min-width: $ui-breakpoint-md) {
          display: none;
        }
      }
    }
  }
}

.header-nav__item-btn {
  @include size-text(15px, 700, 15px);
  @include btn-style;
  width: 119px;
  height: 37px;
  transition: .5s;

  @media screen and (min-width: $ui-breakpoint-md) {
    width: 145px;

    &:hover,
    &:active,
    &:focus {
      color: $ui-main-purple;
      background-color: $ui-main-white;
      border: 1px solid #8D81AC;
    }

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      &:hover {
        transition: .5s;
      }
    }
  }
}

.header__nav-icon {
  @include ui-flex(flex-end, center);

  @media screen and (min-width: $ui-breakpoint-md) {
    display: none;
  }
}

.nav-icon {
  background-color: $ui-nav-background;
  border: none;
  width: 44px;
  height: 37px;
}

.nav-icon__close {
  display: none;
}





