// ===== MAIN - BACKGROUND =====
.main-background {
  position: relative;
  width: 100%;
  height: 718px;
  top: 0;
  left: 0;
  background-image: url("../images/header/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-content {
  @include font-mont;
  padding-top: 153px;
  color: $ui-main-white;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    padding-top: 183px;
  }

  .main-text {
    @include ui-flex(center, center);
    flex-direction: column;
    text-align: center;
    padding-bottom: 398px;

    @media screen and (min-width: $ui-breakpoint-sm-min) {
      padding-bottom: 423px;

      @media screen and (min-width: $ui-breakpoint-md-min) {
        padding-bottom: 385px;
      }
    }
  }
}

// ===== MAIN - EDITOR =====
.main__git-section {
  margin: 120px 0;
  @include ui-flex(center, center);
  flex-direction: column;
  text-align: center;
}

.main__git-section-title {
  @include font-mont;
  @include size-text(26px, 700, 28px);
  text-transform: uppercase;
  color: #635C73;
  padding-bottom: 25px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    @include size-text(42px, 700, 42px);

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      @include size-text(54px, 700, 54px);
    }
  }
}

.main__git-section-text {
  @include font-lato;
  @include size-text(14px, 400, 20px);
  color: $ui-main-dark-grey;
  padding-bottom: 36px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    @include size-text(21px, 400, 32px);

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      max-width: 861px;
    }
  }
}

.git-button {
  @include ui-flex(center, center);
  flex-wrap: wrap;
  gap: 6px;
}

.button_left-section-item {
  width: 106px;
  height: 30px;
  @include ui-flex(center, center);
  text-align: center;
  gap: 6px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: none;
  @include size-text(12px, 700, 20px);
  background: rgb(244, 244, 244);
  background: linear-gradient(180deg, rgba(244, 244, 244, 1) 0%, rgba(193, 193, 193, 1) 50%);

  &:hover {
    transition: .5s;
    background: rgb(224, 224, 224);
    background: linear-gradient(180deg, rgba(224, 224, 224, 1) 0%, rgba(228, 228, 228, 1) 50%);
  }
}

.button_right-section-item {
  height: 30px;
  @include ui-flex(center, center);
  text-align: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
  background: rgb(244, 244, 244);
  background: linear-gradient(180deg, rgba(244, 244, 244, 1) 0%, rgba(193, 193, 193, 1) 50%);
  border-left: 1px solid #797979;
}

.main__git-button-wrapper {
  display: flex;
}

.button_right-section-arrow {
  width: 16px;
  height: 16px;
}
// ===== MAIN - EDITOR =====


// ===== MAIN - CODE =====
@media screen and (min-width: $ui-breakpoint-xl-min) {
  .background-code {
    width: 100%;
    min-height: 640px;
    background-color: #F4F4F4;
    padding-top: 100px;
  }
}

.section {
  overflow: hidden;
}

@media screen and (min-width: $ui-breakpoint-md-min) {
  .section {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      flex-direction: row;
    }
  }
}

.section__content {
  flex: 0 0 100%;
  display: flex;
}

.section__container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    margin: 0;
  }
}

.code-group__title {
  text-align: center;
  padding-bottom: 35px;
  position: relative;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    padding-left: 140px;

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      padding-left: 0;
      position: absolute;
      left: 51%;
    }
  }
}

.code-group__title-text {
  @include size-text(32px, 700, 38px);
  color: $ui-main-purple;
  @include font-mont;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    @include size-text(42px, 700, 44px);

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      @include size-text(46px, 700, 50px);
    }
  }
}

.code-group__card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.code-group__card-item {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: flex;
  }
}

.code-group__image-wrapper {
  padding-bottom: 27px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    min-height: 100px;
    min-width: 120px;
    padding-bottom: 45px;
  }
}

.code-group__card-wrapper {
  .code-group__card-title {
    @include size-text(16px, 400, 16px);
    @include font-mont;
    color: $ui-main-dark-grey;
    padding-bottom: 14px;
  }

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 25px;
    width: 504px;

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      width: 342px;
      margin-left: 20px;
    }
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    width: 407px;
  }

  .code-group__card-text {
    @include size-text(14px, 400, 21px);
    @include font-lato;
    color: $ui-main-grey;
    padding-bottom: 40px;

    @media screen and (min-width: $ui-breakpoint-md-min) {
      text-align: left;
      padding-bottom: 0;
    }
  }
}

.section__image {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100vw - 40px) * 0.7 + 20px);

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      transform: translate(-85%, 0px);
    }
  }
}

.section__image img {
  max-width: 100%;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      top: 20%;
      object-fit: contain;
      height: 80%;
    }
  }
}
// ===== MAIN - CODE =====



// ===== MAIN - PRICING =====
.background-pricing {
  width: 100%;
  background-image: url("../images/main/about-fork/main-background-blur.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    min-height: 1170px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    min-height: 847px;
  }
}

.pricing__subs {
  @include font-mont;
}

.pricing__subs-title {
  padding-bottom: 32px;

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    padding: 83px 0 112px;
  }

  .pricing__subs-title-text {
    @include size-text(28px, 700, 42px);
    color: $ui-main-white;
    @include font-mont;
    text-align: center;

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      @include size-text(48px, 700, 50px);
    }
  }

  .main-aside {
    @include ui-flex(center, center);
    flex-direction: column;
  }
}

.main-text__title {
  @include size-text(48px, 700, 48px);
  color: $ui-main-white;
  padding-bottom: 19px;
}

.main-text__title-paragraph-1 {
  text-transform: capitalize;
  color: $ui-main-purple;
  @include size-text(18px, 400, 24px);
  padding-bottom: 14px;
}

.main-text__title-paragraph-2 {
  text-transform: uppercase;
  @include size-text(14px, 400, 14px);
  color: $ui-main-grey;
}

.main-aside__btn {
  @include btn-style;
  @include size-text(18px, 700, 20px);
  width: 290px;
  height: 45px;
  transition: .5s;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    @include size-text(21px, 700, 23px);
    width: 390px;
    height: 60px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    &:hover {
      color: $ui-main-purple;
      background-color: $ui-main-white;
      border: 1px solid #8D81AC;
      transition: .5s;
    }
  }
}

.pricing__subs-card-wrapper {
  display: grid;
  gap: 30px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    grid-template-columns: 257px 257px;
    justify-content: center;
    grid-column-gap: 25px;
    grid-row-gap: 70px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pricing__subs-card {
  @include ui-flex(center, center);
  flex-direction: row;
  padding-bottom: 20px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    padding-bottom: 0;
  }
}

.pricing__subs-card-box {
  display: flex;
  flex-direction: column;
  min-height: 457px;
  background-color: rgba(255, 255, 255, 0.11);
}

.pricing__subs-card-box_active {
  transform: scale(1.1);
  background: rgb(70, 48, 72);

  @media screen and (min-width: $ui-breakpoint-md-min) {
    margin-right: 24px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    margin-right: 0;
  }
}

.pricing__subs-card-title {
  @include ui-flex(center, center);
  width: 257px;
  min-height: 97px;
  background-color: rgba(255, 255, 255, 0.06);

  .pricing__subs-card-title-text {
    @include size-text(24px, 400, 24px);
    text-transform: uppercase;

  .main-aside__paragraph {
    color: $ui-main-grey;
    @include size-text(14px, 400, 14px);
    padding-top: 12px;
    }
  }
}


// ===== MAIN - ABOUT-FORK =====
.background-fork {
  width: 100%;
  background-image: url("../images/main/about-fork/main-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1745px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    min-height: 1010px;
    margin-top: 20px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    margin-top: 0;
    min-height: 740px;
  }
}

.fork-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fork-group__title {
  @include ui-flex(center, center);
  text-align: center;
  padding: 55px 0;
}

.fork-group__title-text {
  @include font-mont;
  @include size-text(36px, 700, 48px);
  color: $ui-main-white;
}

.fork-group__card {
  @include ui-flex(center, center);
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 75px;
    grid-row-gap: 10px;

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.fork-group__card-item {
  padding-bottom: 45px;
  width: 265px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    padding-bottom: 0;
    height: 240px;
    width: 321px;
  }

  .fork-group__img-wrapper {
    @media screen and (min-width: $ui-breakpoint-md-min) {
      height: 96px;
      @include ui-flex(center, center);
    }

    .fork-group__card-item-img {
      padding-bottom: 28px;
    }
  }

  .fork-group__card-item-text {
    @include size-text(16px, 700, 24px);
    @include font-lato;
    font-style: italic;
    color: $ui-main-white;
  }
}

.pricing__subs-card-info {
  @include ui-flex(center, center);
  flex-direction: column;
  color: $ui-main-white;
  max-width: 210px;
  text-align: center;
  margin: 0 auto;
}

.card-info__price {
  @include size-text(60px, 400, 75px);
  padding: 30px 0 20px;
}

.card-info__time {
  @include size-text(14px, 400, 16px);
  text-transform: uppercase;
  padding-bottom: 38px;
}

.line {
  width: 60px;
  height: 5px;
  background-color: #8D81AC;
  margin-bottom: 30px;
}

.card-info__about {
  @include size-text(16px, 400, 18px);
  padding-bottom: 38px;
}

.card-info__btn {
  width: 163px;
  height: 45px;
  @include size-text(15px, 400, 15px);
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.15);
  color: $ui-main-white;
}

.fork-group__footer-text {
  width: 251px;
  color: #A291A5;
  @include font-lato;
  @include size-text(14px, 400, 21px);
  text-align: center;
  position: relative;

  &:after {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #645766;
    margin-top: 22px;
  }

  @media screen and (min-width: $ui-breakpoint-md-min) {
    width: 704px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    width: 904px;
  }
}
// ===== MAIN - ABOUT-FORK =====



// ===== MAIN - PRICING =====
