@mixin font-mont {
  font-family: "Montserrat", sans-serif;
}

@mixin font-lato {
  font-family: "Lato", sans-serif;
}

@mixin ui-flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin size-text($font-size, $font-weight, $line-height){
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin btn-style {
  border-radius: 40px;
  background: $ui-main-purple;
  @include font-mont;
  color: white;
  border: none;
}


